[production]
chrome >= 70
last 10 firefox version
last 2 Safari version

[modern]
chrome > 75
last 5 firefox version
last 1 Safari version

[development]
chrome > 75
last 5 firefox version
Safari >= 12

[ssr]
node 12
